header {
  background: #9b3d2d; /* darker terracotta for nav bar */
  padding: 20px;
  border-bottom: 2px solid #852f20;
  display: flex;
  justify-content: space-between; /* pushes items to left and right */
  align-items: center;
}

header h1 {
  font-size: 2em;
  margin: 0;
  color: #fff; /* white text for contrast */
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-left: 20px; /* optional spacing if you add more links */
}

nav a:hover {
  text-decoration: underline;
}
